<%- include("template/header", {tituloWeb: 'Productos' }) %>
  </head>

  <body style="background-color: black;">

    <video src="http://localhost:8888/video/background.mp4" autoplay loop playsinline muted
      style="object-fit: cover; width: 100vw; height:100vh; position: fixed; left: 0;">
    </video>
    <div class="container " style="position: relative; height: 150px; margin-top: 3%;">
      <h1 class="display-2" style="color: white;">CRUD Productos</h1>
      <br>

      <a type="button" class="btn btn-success btn-lg w-100" href="/producto/crear" role="button">
        Agregar Producto
      </a>
      <br>
      <br>

      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Precio</th>
            <th scope="col">Marca</th>
            <th scope="col">Stock</th>
            <th scope="col">Visualizar</th>
          </tr>
        </thead>

        <tbody>

          <% if (productos.length> 0) { %>
            <% productos.forEach(producto=> { %>

              <tr>
                <th scope="row">
                  <%= producto.codigo %>
                </th>
                <td>
                  <%= producto.nombre %>
                </td>
                <td>
                  <%= producto.descripcion %>
                </td>
                <td>$<%= producto.precio %>
                </td>
                <td>
                  <%= producto.marca %>
                </td>
                <td>
                  <%= producto.stock %>
                </td>
                <td>
                  <a href="/productos/<%= producto.codigo %>" class="btn btn-outline-dark">
                    Info
                  </a>
                </td>
              </tr>

              <% }) %>
                <% } %>


        </tbody>
      </table>
      <br>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"></script>

  </body>

  </html>